USE [RusadaAviation]
GO
/****** Object:  Table [dbo].[AircraftDetails]    Script Date: 26/09/2022 2:49:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AircraftDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](128) NULL,
	[Model] [nvarchar](128) NULL,
	[Registration] [nvarchar](128) NULL,
	[Location] [nvarchar](255) NULL,
	[ModelImage] [varbinary](max) NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_AircraftDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AircraftDetails] ON 

SET IDENTITY_INSERT [dbo].[AircraftDetails] OFF
